[submodule "themes/bettermotherfuckinghugowebsite"]
	path = themes/bettermotherfuckinghugowebsite
	url = https://github.com/ihasdapie/bettermotherfuckinghugowebsite
[submodule "public"]
	path = public
	url = https://github.com/ihasdapie/ihasdapie.github.io
